/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2019, 11:37:07 AM
    Author     : AFAQE3
*/
#reg-form{
    width: 350px;
    height: 250px;
    background: #ff6666;
    padding: 40px 20px 5px 20px;
    margin: 10% auto;
    border-radius: 7px;
    color: #FFFFFF;
}
